@font-face {
    font-family: "Galaxie Polaris";
    src: url(fonts/Galaxie%20Polaris%20Medium.otf);
}

#left {
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 1%;
    padding-top: 1%;
    font-family: "Galaxie Polaris", Arial, sans-serif;
    font-size: 25px;
    min-width: 250px;
    width: 20%;
    border-style: hidden solid hidden hidden;
    border-width: thin;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    top: 100px;
    position: absolute;
    font-weight: 400;
    line-height: 26.4px;
    color: #555;
}


#banner {
    height: 100px;
    background-color: #0C2340;
}

.appIcon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

.favorites-list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 350px;
    overflow: auto;
    vertical-align: middle;
}

.fav-li {
    /*    margin: 10px 0;*/
}

.favCard {
    padding: 10px;
    margin-right: 10px;
}

.favCard:hover {
    background-color: #E8E8E8;
    color: black;
}

.fav-link {
    text-decoration: none !important;
    font-family: inherit;
    font-size: 20px;
    color: #555;
}

.checked {
    color: #D39F10;
}

.star {
    /*
    float: right;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
*/
}

.starButton {
    background-color: inherit;
    border: none;
    float: right;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}
