@font-face {
    font-family: "Galaxie Polaris";
    src: url(fonts/Galaxie%20Polaris%20Medium.otf);
}

#favorites {
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 10px;
    /*    font-family: "Galaxie Polaris", Arial, sans-serif;*/
    font-family: "Galaxie Polaris";
    font-size: 24px;
    width: 200px;
    border-style: hidden solid hidden hidden;
    border-width: thin;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    top: 100px;
    position: absolute;
    font-weight: 400;
    line-height: 26.4px;
    color: #555;
}

#main{
    position: absolute;
    top: 150px;
    margin-top: 10px;
    margin-left: 250px;
    z-index: -1;
}

#banner {
    position: fixed;
    height: 100px;
    background-color: #0C2340;
    margin: auto;
    width: 100%;
}
#banner input[type=text]{
    position: relative;
    left: 60px;
    bottom: 30px;
    font-size: 40px;
    width: 50%;
}

#banner button{
    position: relative;
    left: -15px;
    bottom: 30px;
    font-size: 40px;
}

#menu{
    position: fixed;
    top: 108px;
    left: 250px;
    background-color: #D39F10;
    width: 100%;
    margin: auto;
}



.dropbtn {
    background-color: #D39F10;
    color: white;
    padding: 16px 25px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #a67d0c;
}

.logo{
    width: 25%;
    max-width: 320px;
    height: 95px;
    padding-top: 2px;
}

.icon {
    width: 40px;
    height: 40px;
    padding-right: 10px;
    vertical-align: middle;
}

.favorites-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fav-li {
    margin: 10px 0;
}

.fav-link {
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    color: #555;
}

.checked {
    color: #D39F10;
}

.star {
    float: right;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
